.rounds--f5b0d,
.title--59bd2 {
  margin-bottom: var(--popup-default-content-size);
}
.rounds--f5b0d {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-weight: 500;
  line-height: calc(var(--popup-default-content-size) * 1.9);
}
.roundsLabel--5bd23 {
  color: #fff;
  margin-right: calc(var(--popup-default-content-size) * 0.5);
}
.roundsAmount--0a709 {
  color: #8eeaea;
}
.roundsMultiplier--f0508 {
  color: #fff;
  padding-left: calc(var(--popup-default-content-size) * 0.5);
  padding-right: calc(var(--popup-default-content-size) * 0.5);
}
.roundsBet--97136 {
  color: #f0d230;
  direction: ltr;
  display: inline-block;
}
.red--3ffaa {
  fill: #9d3b40;
}
.black--f01d3 {
  fill: #aeaeae;
}
.doubleIndented--68144,
.indented--d520e {
  display: inline-block;
}
.indented--d520e {
  padding-left: calc(var(--root-size) * 1.2 * 0.833);
}
.doubleIndented--68144 {
  padding-left: calc(var(--root-size) * 1.2 * 0.833 * 2);
}
.bold--37d87 {
  font-weight: 700;
}
.bet--7d654 {
  padding-right: calc(var(--root-size) * 3.6);
  text-align: left;
}
.betLimits--3cf27 {
  color: #fbdc01;
  font-weight: 500;
  text-align: right;
}
.payout--46826 {
  padding-left: calc(var(--root-size) * 1.2);
  text-align: right;
}
.ranksAndSuits--7b0b6 {
  align-items: center;
  display: flex;
  height: calc(var(--size) * 1.4 * 0.8673);
  justify-content: flex-end;
}
.ranksAndSuits--7b0b6 > svg {
  height: 101.85%;
}
.ranksAndSuits--7b0b6 > svg:not(:last-child) {
  padding-right: calc(var(--root-size) * 1.2 * 0.417);
}
.ranksAndSuits--7b0b6.smRanksAndSuits--fb674 > svg {
  height: 68.7%;
}
.ranksAndSuits--7b0b6.smRanksAndSuits--fb674 > svg:not(:last-child) {
  padding-right: calc(var(--root-size) * 1 * 0.417);
}
.ranksAndSuits--7b0b6 .cardsDelimiter--55498 {
  opacity: 0.4;
  padding-right: calc(var(--root-size) * 1.2 * 0.417);
}
.ranksAndSuits--7b0b6.smRanksAndSuits--fb674 .cardsDelimiter--55498 {
  padding-right: calc(var(--root-size) * 1 * 0.417);
}
tr.disabled--fc044 {
  opacity: 0.3;
}
tr:not(:first-child) .topPadding--64914 {
  padding-top: calc(var(--root-size) * 1.2);
}
.rtl--1eee5 {
  direction: rtl;
}
.sm--8f329 .cellContent--e7e92 {
  box-sizing: border-box;
  height: 100%;
  white-space: normal;
}
.sm--8f329 .sectionHeader--a6eff .cellContent--e7e92 {
  padding-top: calc(var(--size) * 0.6);
  white-space: nowrap;
}
.sm--8f329 .betLimits--3cf27,
.sm--8f329 .payout--46826,
.sm--8f329 .ranksAndSuits--7b0b6 {
  white-space: nowrap;
}
.sm--8f329 .payout--46826 {
  padding-left: 0;
}
.sm--8f329 .bet--7d654 {
  padding-left: calc(var(--size) * 0.6);
  padding-right: 0;
}
.sm--8f329 .bet--7d654 .cellContent--e7e92 {
  padding-right: calc(var(--size) * 0.6);
}
.sm--8f329.hasContent--7f13d .cellContent--e7e92 {
  min-height: calc(var(--size) * 1.8);
}
.sm--8f329.hasContent--7f13d .cellContent--e7e92 .ranksAndSuits--7b0b6 {
  float: right;
  height: calc(var(--size) * 1.8);
}
.sm--8f329 td:last-child {
  padding-right: calc(var(--size) * 0.6);
}
.sm--8f329 td:last-child .cellContent--e7e92 {
  padding: 0 calc(var(--size) * 0.24) 0 calc(var(--size) * 1.2);
}
.sm--8f329 .indented--d520e {
  padding-left: calc(var(--size) * 1.2 * 0.833);
}
.sm--8f329 .doubleIndented--68144 {
  padding-left: calc(var(--size) * 1.2 * 0.833 * 2);
}
.sm--8f329 .bet--7d654,
.sm--8f329 .middleDataCell--a2446,
.sm--8f329 .payout--46826 {
  height: 0;
}
.sm--8f329.fixedColumnWidths--a60d9 .bet--7d654 {
  width: 40%;
}
.sm--8f329.fixedColumnWidths--a60d9 .middleDataCell--a2446 {
  width: 20%;
}
.sm--8f329.hasBottomBorder--87313.hasContent--7f13d .cellContent--e7e92 {
  border-bottom: calc(var(--size) * 1.2 * 0.058) solid #fff3;
}
.sm--8f329:not(:first-child) .topPadding--64914 {
  padding-top: calc(var(--size) * 1.2 * 1.667);
}
@media (orientation: landscape) {
  .sm--8f329 td:last-child .cellContent--e7e92 {
    padding-right: calc(var(--size) * 0.6);
  }
  .sm--8f329.hasIncreasedNotch--5fff3 td:last-child .cellContent--e7e92 {
    padding-right: calc(var(--size) * 4.8 + var(--root-size) * 5);
  }
  .sm--8f329.hasNotch--42e7b td:last-child .cellContent--e7e92 {
    padding-right: calc(var(--size) * 0.6);
  }
  .sm--8f329 td:last-child .cellContent--e7e92.legacyMenuMode--041c5 {
    padding-right: calc(var(--size) * 4.8);
  }
  .sm--8f329.hasNotch--42e7b
    td:last-child
    .cellContent--e7e92.legacyMenuMode--041c5 {
    padding-right: calc(var(--size) * 4.8 + var(--root-size) * 3.5);
  }
}
@-moz-document url-prefix() {
  .sm--8f329,
  .sm--8f329 .bet--7d654,
  .sm--8f329 .middleDataCell--a2446,
  .sm--8f329 .payout--46826 {
    height: 100%;
  }
}
.footerContentWrapper--24329 {
  color: #efefef;
  line-height: calc(var(--root-size) * 1.2 * 1.583);
  opacity: 0.9;
  padding-top: calc(var(--root-size) * 1.2 * 3.333);
  text-align: center;
}
.footerContentWrapper--24329.sm--18019 {
  color: #fff;
  line-height: calc(var(--size) * 1.8);
  padding-top: calc(var(--size) * 2);
}
.logo--8d3a6 {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 0 calc(var(--size) * 3.6) calc(var(--size) * 6);
  pointer-events: none;
  width: calc(var(--size) * 39.6);
}
.image--6de50 {
  height: 100%;
  object-fit: contain;
  width: 100%;
}
.goldenText--e406a {
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(
    0.26deg,
    #fbcc5d 26.88%,
    #9c6b31 48.69%,
    #ffdea9 48.83%,
    #ffdd75 61.96%,
    #ffd67d 78.15%
  );
  background-origin: content-box;
  background-repeat: no-repeat;
  color: #0000;
  font-weight: 700;
  position: relative;
  text-shadow: none;
}
.shadow--d0fa5 {
  color: #703f00;
  left: 0;
  position: absolute;
  top: 5%;
  z-index: -1;
}
.winnerMultiplierGroup--aac6c {
  display: inline-flex;
  text-shadow: none;
}
.multiplier--7e173 {
  display: inline-flex;
}
.multiplier--7e173.safari--1f58f {
  transform: translateY(-1.6%);
}
.multiplier--7e173:not(:last-child):after {
  content: " ";
}
.recentResultsWrapper--18df6 {
  padding-bottom: calc(var(--root-size) * 2.4);
  padding-right: calc(var(--root-size) * 2.4);
  position: relative;
  z-index: 98;
}
@keyframes fadeInKeyframes--6494d {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes moveRightKeyframes--3e26e {
  0% {
    transform: translateX(calc(var(--size) * var(--itemWidth) * -1));
  }
  to {
    transform: translateX(0);
  }
}
.RecentResults--7c90c {
  width: 100%;
}
.numbersContainer--061f5 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  line-height: 1;
  list-style: none;
}
.row--79ac7 {
  overflow: hidden;
  white-space: nowrap;
  width: calc(var(--size) * var(--itemWidth) * var(--cols));
}
.row--79ac7.mobile--f9be7 {
  width: 100%;
}
.listItem--28b1b {
  display: inline-block;
  margin-right: 0;
  pointer-events: none;
}
.animation--c8161 {
  animation: moveRightKeyframes--3e26e 0.7s forwards;
  margin-right: 0;
  transform: translateX(calc(var(--size) * var(--itemWidth) * -1));
  will-change: transform;
}
.withFade--50287 {
  animation: fadeInKeyframes--6494d 1s 0.4s 1 both;
}
.rowContainer--cae5d {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.item--c1508 {
  display: inline-block;
  height: calc(var(--size) * 5.8);
  pointer-events: none;
  width: calc(var(--size) * var(--itemWidth));
}
.classic--80e37 .item--c1508 {
  height: calc(var(--size) * 5.35);
}
.mobile--f9be7 .item--c1508 {
  height: calc(var(--size) * 3.7);
  width: 100%;
}
.tablet--1237b .item--c1508 {
  height: calc(var(--size) * 4.62);
}
@keyframes multiplierAnimationKeyframes--cee48 {
  0%,
  50%,
  to {
    opacity: 0;
  }
  55%,
  90% {
    opacity: 1;
  }
}
@keyframes resultAnimationKeyframes--c838b {
  0%,
  50%,
  to {
    opacity: 1;
  }
  55%,
  90% {
    opacity: 0;
  }
}
.multiplierNumber--bc9da {
  opacity: 0;
}
.resultNumber--3110b {
  opacity: 1;
}
.multiplier--fba38 .multiplierNumber--bc9da {
  animation: multiplierAnimationKeyframes--cee48 7s 0s infinite both;
}
.multiplier--fba38 .resultNumber--3110b {
  animation: resultAnimationKeyframes--c838b 7s 0s infinite both;
}
.component--8b4c6,
.componentSwitch--f63f4 {
  height: 100%;
  position: absolute;
  width: 100%;
}
.component--8b4c6 {
  opacity: 0;
  transition: opacity var(--duration) var(--timing-function),
    visibility var(--duration);
  visibility: hidden;
  will-change: opacity, visibility;
}
.withOffset--91a91 {
  transform: translateY(calc(var(--root-size) * 2));
  transition: transform var(--duration) var(--timing-function),
    opacity var(--duration) var(--timing-function), visibility var(--duration);
  will-change: transform, opacity, visibility;
}
.active--6cfb5 {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}
.collapsibleContainer--c7e16 {
  position: relative;
  transform: translateZ(0);
  transform-origin: bottom;
  transition: transform var(--collapseDuration) linear;
  will-change: transform;
}
.collapsed--b76a1 {
  transform: translate3d(0, calc(var(--root-size) * 7.2), 0) scale(0.9);
}
.chipsCanvasWrapper--1e3cf {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.animateOpacity--56723 {
  animation: bouncingKeyframes--07eb4 0.75s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes bouncingKeyframes--07eb4 {
  0% {
    opacity: 0.7;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(-2%);
  }
}
.chipsCanvas--233a4 {
  height: 100%;
  pointer-events: none;
  width: 100%;
}
.chipsCanvas--233a4.fadeOut--f5186 {
  opacity: 0;
  transition: opacity 1.5s ease 0s;
}
@keyframes winningKeyframes--b8e8c {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.winningChipWrapper--24399 {
  border-radius: 50%;
  line-height: 0;
  position: absolute;
}
.winningChipWrapper--24399 .winningChipBorder--a8511,
.winningChipWrapper--24399 .winningChipGlowingShadow--354f6 {
  border: calc(var(--root-size) * 0.1) solid gold;
  border-radius: 50%;
  box-shadow: 0 0 calc(var(--root-size) * 0.5) calc(var(--root-size) * 0.1)
    #ffd70099;
  box-sizing: border-box;
  height: 100%;
  position: absolute;
  width: 100%;
}
.winningChipWrapper--24399 .winningChipGlowingShadow--354f6 {
  animation: winningKeyframes--b8e8c 0.75s infinite;
  box-shadow: 0 0 calc(var(--root-size) * 0.5) calc(var(--root-size) * 0.2)
    #ffd70099;
}
.chip--a53a8 {
  display: inline-block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.chips--9746b {
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: translateZ(0.001px);
  transform-origin: center center;
}
.chipsPositionFix--51f89 {
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) translateZ(0.001px);
  transform-origin: center center;
}
.passiveGridWrapper--d01cc {
  height: 100%;
  width: 100%;
}
.background--98570 {
  pointer-events: auto;
  position: relative;
}
.background--98570,
.foreground--d267f {
  display: flex;
  height: 100%;
  justify-content: center;
}
.foreground--d267f {
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: translateZ(0.001px);
  transform-origin: center center;
  width: 100%;
}
.svgComponent--93636 > svg {
  height: 100%;
  pointer-events: none;
  width: 100%;
}
@keyframes fadeInKeyframes--55e94 {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.canvas--69538 {
  animation: fadeInKeyframes--55e94 1.5s forwards;
  left: 50%;
  opacity: 0.2;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) translateZ(0.001px);
  transform-origin: center;
  will-change: opacity;
}
@keyframes counterItemKeyframes--5abbf {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes counterLastItemKeyframes--f9760 {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.counterItem--d31a6 {
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-name: counterItemKeyframes--5abbf;
  animation-timing-function: steps(3, start);
  opacity: 0;
  position: absolute;
  width: 100%;
}
.counterItem--d31a6:last-child {
  animation-name: counterLastItemKeyframes--f9760;
  animation-timing-function: step-start;
}
.nonAnimating--694f6 {
  animation: none;
  opacity: 1;
}
.autoCounterLayer--0b68a {
  left: 50%;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) translateZ(0.001px);
}
@keyframes appearKeyframes--7cafd {
  0% {
    opacity: 0;
    transform: translate(-50%, 100%);
  }
  to {
    opacity: 1;
    transform: translate(-50%);
  }
}
.autoCounter--81891 {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-name: appearKeyframes--7cafd;
  animation-play-state: running;
  animation-timing-function: ease-out;
  background-image: radial-gradient(ellipse at center, #505050 40%, #0000 80%);
  color: #ffebc4;
  font-weight: 900;
  letter-spacing: -0.5px;
  line-height: 1;
  min-width: 5.5ch;
  position: absolute;
  text-align: center;
  text-shadow: 0 0 4px #000;
  transform: translate(-50%);
}
.animation--5c40e {
  overflow: hidden;
  transform: translateZ(0);
}
.animationStrip--7d61a {
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-timing-function: steps(1);
  background-repeat: repeat-x;
}
.effect--34534 {
  animation: effectFadeInKeyframes--a9393 1s forwards;
  height: 50%;
  pointer-events: none;
  position: absolute;
  width: 50%;
}
.horizontal--adea6 {
  left: 0;
  position: absolute;
  top: 0;
  transform-origin: left top;
}
.verticalContainer--52304 {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}
.vertical--faeed {
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(90deg) translateY(-100%);
  transform-origin: top left;
}
.charge--012c2 {
  left: 0;
  position: absolute;
  top: 0;
  transform: scale(0.5) translate(-25%, -25%);
  transform-origin: left top;
}
.TopLeft--1f163 {
  left: 0;
  top: 2px;
}
.TopRight--7281d {
  right: 0;
  top: 2px;
  transform: scaleX(-1);
}
.BottomLeft--9847e {
  bottom: 1px;
  left: 0;
  transform: scaleY(-1);
}
.BottomRight--49079 {
  bottom: 1px;
  right: 0;
  transform: scaleX(-1) scaleY(-1);
}
.container--b51f9 {
  align-items: flex-end;
  display: flex;
  height: 100%;
  justify-content: space-around;
  width: 100%;
}
.container--b51f9.immersive--acf6a {
  box-sizing: border-box;
}
.gridBorderBg--c9dbd {
  padding: 1.6% 0;
  position: relative;
  width: 100%;
}
.gridBorderBg--c9dbd:before {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='849' height='232'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0%25' x2='100%25' y1='50%25' y2='50%25'%3E%3Cstop offset='0%25' stop-color='%23CA9E48'/%3E%3Cstop offset='100%25' stop-color='%23D5B259' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='50%25' x2='50%25' y1='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%23EDD97A'/%3E%3Cstop offset='100%25' stop-color='%23D7B55B' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' x1='50%25' x2='50%25' y1='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%23505050'/%3E%3Cstop offset='100%25'/%3E%3C/linearGradient%3E%3ClinearGradient id='d' x1='50%25' x2='50%25' y1='100%25' y2='0%25'%3E%3Cstop offset='0%25' stop-color='%23F1E07F'/%3E%3Cstop offset='100%25' stop-color='%23BA8433'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg transform='rotate(-180 424.5 115.5)'%3E%3Cpath fill='url(%23a)' fill-rule='nonzero' d='M3 7h443v1H3z'/%3E%3Cpath fill='url(%23b)' fill-rule='nonzero' d='M7 3h1v116H7z'/%3E%3Ccircle cx='7.5' cy='7.5' r='7' fill='url(%23c)' stroke='url(%23d)'/%3E%3C/g%3E%3Cg transform='matrix(1 0 0 -1 0 231)'%3E%3Cpath fill='url(%23a)' fill-rule='nonzero' d='M3 7h443v1H3z'/%3E%3Cpath fill='url(%23b)' fill-rule='nonzero' d='M7 3h1v116H7z'/%3E%3Ccircle cx='7.5' cy='7.5' r='7' fill='url(%23c)' stroke='url(%23d)'/%3E%3C/g%3E%3Cg transform='matrix(-1 0 0 1 849 0)'%3E%3Cpath fill='url(%23a)' fill-rule='nonzero' d='M3 7h443v1H3z'/%3E%3Cpath fill='url(%23b)' fill-rule='nonzero' d='M7 3h1v116H7z'/%3E%3Ccircle cx='7.5' cy='7.5' r='7' fill='url(%23c)' stroke='url(%23d)'/%3E%3C/g%3E%3Cpath fill='url(%23a)' fill-rule='nonzero' d='M3 7h443v1H3z'/%3E%3Cpath fill='url(%23b)' fill-rule='nonzero' d='M7 3h1v116H7z'/%3E%3Ccircle cx='7.5' cy='7.5' r='7' fill='url(%23c)' stroke='url(%23d)'/%3E%3C/g%3E%3C/svg%3E")
    50% no-repeat;
  background-size: contain;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: opacity 1s;
  width: 100%;
}
.portrait--6e30c .gridBorderBg--c9dbd {
  margin: 0;
  padding: 3%;
}
.portrait--6e30c .gridBorderBg--c9dbd:before {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='301' height='303'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0%25' x2='100%25' y1='50%25' y2='50%25'%3E%3Cstop offset='0%25' stop-color='%23CA9E48'/%3E%3Cstop offset='100%25' stop-color='%23D5B259' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='50%25' x2='50%25' y1='100%25' y2='0%25'%3E%3Cstop offset='0%25' stop-color='%23EDD97A' stop-opacity='0'/%3E%3Cstop offset='100%25' stop-color='%23D7B55B'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' x1='50%25' x2='50%25' y1='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%23505050'/%3E%3Cstop offset='100%25'/%3E%3C/linearGradient%3E%3ClinearGradient id='d' x1='50%25' x2='50%25' y1='100%25' y2='0%25'%3E%3Cstop offset='0%25' stop-color='%23F1E07F'/%3E%3Cstop offset='100%25' stop-color='%23BA8433'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg transform='matrix(1 0 0 -1 0 303)'%3E%3Cpath fill='url(%23a)' fill-rule='nonzero' d='M7 7h141v1H7z'/%3E%3Cpath fill='url(%23b)' fill-rule='nonzero' d='M7 4h1v141H7z'/%3E%3Ccircle cx='7.5' cy='7.5' r='7' fill='url(%23c)' stroke='url(%23d)'/%3E%3C/g%3E%3Cg transform='rotate(180 150.5 151.5)'%3E%3Cpath fill='url(%23a)' fill-rule='nonzero' d='M3 7h141v1H3z'/%3E%3Cpath fill='url(%23b)' fill-rule='nonzero' d='M7 3h1v141H7z'/%3E%3Ccircle cx='7.5' cy='7.5' r='7' fill='url(%23c)' stroke='url(%23d)'/%3E%3C/g%3E%3Cg transform='matrix(-1 0 0 1 301 0)'%3E%3Cpath fill='url(%23a)' fill-rule='nonzero' d='M3 7h141v1H3z'/%3E%3Cpath fill='url(%23b)' fill-rule='nonzero' d='M7 3h1v141H7z'/%3E%3Ccircle cx='7.5' cy='7.5' r='7' fill='url(%23c)' stroke='url(%23d)'/%3E%3C/g%3E%3Cpath fill='url(%23a)' fill-rule='nonzero' d='M7 7h141v1H7z'/%3E%3Cpath fill='url(%23b)' fill-rule='nonzero' d='M7 7h1v141H7z'/%3E%3Ccircle cx='7.5' cy='7.5' r='7' fill='url(%23c)' stroke='url(%23d)'/%3E%3C/g%3E%3C/svg%3E");
}
.wrapper--f7ad6 {
  height: 100%;
  position: relative;
  transition: transform 1s;
  width: 100%;
}
.landscape--f150c .wrapper--f7ad6,
.showOffset--e9366 .wrapper--f7ad6 {
  transform: scale(0.95) translateZ(0);
}
.showOffset--e9366:before {
  opacity: 1;
  transition: opacity 1s;
}
.effects--0588c {
  height: 100%;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: opacity 0.5s;
  width: 100%;
}
.effects--0588c.active--bf5b3 {
  opacity: 1;
}
.backgroundEffects--fe9dc {
  bottom: -20px;
  left: -20px;
  position: absolute;
  right: -20px;
  top: -20px;
}
.effectWrapper--ec764 {
  left: 50%;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: opacity 0.5s;
}
.visible--220ca {
  opacity: 1;
}
.hidden--5360b {
  opacity: 0;
}
.lightningStrikeLayer--c4f07 {
  left: 50%;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) translateZ(0.001px);
}
@keyframes strikeKeyframes--626c4 {
  0% {
    opacity: 1;
    transform: scaleX(0) scaleY(0);
  }
  20% {
    opacity: 1;
    transform: scaleX(1) scaleY(1);
  }
  to {
    opacity: 0;
    transform: scaleX(1) scaleY(0);
  }
}
.lightningStrike--5377c {
  position: absolute;
  transform-origin: left center;
}
.lightning--7a646 {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-name: strikeKeyframes--626c4;
  animation-play-state: running;
  animation-timing-function: cubic-bezier(0.92, -0.08, 1, 1);
  transform-origin: left center;
  will-change: transform;
}
.lightning--7a646.paused--9d71b {
  animation: none;
}
.sprite--35aca {
  transform-origin: left center;
}
.smallFade--13e57 {
  opacity: 0.8;
}
.fade--8a636 {
  opacity: 0.5;
}
.bigFade--039bc {
  opacity: 0.46;
}
.draggableChip--b33cd {
  position: absolute;
  z-index: 2;
}
.chipShadow--e726a {
  border: calc(var(--root-size) * 0.2) solid #ffd70099;
  border-radius: 50%;
  box-shadow: 0 0 calc(var(--root-size) * 0.2) calc(var(--root-size) * 0.2)
    #ffd70099;
  box-sizing: border-box;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -52%);
}
.interaction--9b8a4 {
  height: 100%;
  touch-action: none;
  width: 100%;
}
.pointerIndicator--cc652 {
  cursor: pointer;
}
.immersive--db56b {
  height: calc(var(--root-size) * 22.8);
  position: relative;
  top: calc(var(--root-size) * 1.8);
  width: calc(var(--root-size) * 88.08);
}
.gridSlot--ff90d {
  position: relative;
}
.gridSlot--ff90d,
.svg--19424 {
  height: 100%;
  width: 100%;
}
.text--10d26 {
  -webkit-user-select: none;
  user-select: none;
}
.BetOnAllSvgLandscape--4f97f {
  bottom: 0;
  cursor: pointer;
  height: 18.5%;
  left: 13.6%;
  pointer-events: none;
  position: absolute;
  right: 13.6%;
  transform-origin: center;
  transition: transform 0.1s, opacity 0.3s;
}
.WinningBetspotsDistribution--5f5ce {
  --size: calc(var(--root-size) * 1.2);
  align-content: stretch;
  align-items: stretch;
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-around;
  text-align: center;
}
.WinningBetspotsDistribution--5f5ce.mobile--0e442 {
  height: auto;
}
.column--7d17d {
  align-content: stretch;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: flex-start;
  margin: 0 calc(var(--size) * 0.22) calc(var(--size) * 1);
  width: calc(var(--size) * 2);
}
.percent--421bc {
  font-weight: 500;
  margin-bottom: calc(var(--size) * 0.2);
  width: 100%;
}
.emptyBar--5d41c {
  background: linear-gradient(180deg, #fffcf41f, #fef7e61f);
  border-radius: calc(var(--size) * 0.2);
  height: 100%;
  margin-bottom: calc(var(--size) * 0.35);
  overflow: hidden;
  position: relative;
}
.mobile--0e442 .emptyBar--5d41c {
  height: calc(var(--size) * 7.5);
}
@media only screen and (device-width: 320px) and (device-height: 693px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait),
  only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait),
  only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait),
  only screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait),
  only screen and (device-width: 393px) and (device-height: 852px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait),
  only screen and (device-width: 402px) and (device-height: 874px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait),
  only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait),
  only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait),
  only screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait),
  only screen and (device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait),
  screen and (min-width: 320px) and (max-aspect-ratio: 10/19) and (orientation: portrait) {
  .mobile--0e442 .emptyBar--5d41c {
    height: calc(var(--size) * 9.8);
  }
}
.fullBar--12c91 {
  background: linear-gradient(180deg, #efe8d7e6, #fef7e6e6);
  border-radius: calc(var(--size) * 0.2);
  height: 100%;
  position: absolute;
  top: 100%;
  transition: transform 1s;
  width: 100%;
}
.number--f9496 {
  height: calc(var(--size) * 2);
  position: relative;
}
.numberSvg--5242a {
  height: 100%;
  overflow: visible;
  width: 100%;
}
.mobile--0e442 {
  flex-wrap: wrap;
}
.mobile--0e442 .percent--421bc {
  font-size: calc(var(--size) * 0.7);
}
.mobile--0e442 .number--f9496 {
  height: auto;
}
.drawerStatisticsContainer--694d1 {
  box-sizing: border-box;
  opacity: 0.1;
  padding: 0 calc(var(--root-size) * 0.7) 0 calc(var(--root-size) * 0.7);
  position: relative;
  width: 100%;
}
.drawerStatisticsContainer--694d1.visible--77ea4 {
  opacity: 1;
  visibility: visible;
}
.drawerStatisticsContent--2e5d2 {
  box-sizing: border-box;
  height: calc(var(--root-size) * 16.8);
  padding: 0;
  position: relative;
}
.TopRightComponent--373d7 {
  --size: calc(var(--root-size) * 1.2);
  align-items: center;
  background-color: initial;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: center;
  padding: calc(var(--size) * 1.5) calc(var(--size) * 1.3);
  position: absolute;
  width: 100%;
}
.TopRightComponent--373d7 .recentNumbers--8bd00 {
  height: 52%;
  margin-left: 0;
  margin-top: calc(var(--size) * -1);
  width: calc(var(--size) * 43);
}
.TopRightComponent--373d7 .statistics--6b8f0 {
  height: 47%;
  width: calc(var(--size) * 43);
}
.winAnimation--a96b5 {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
}
@media (orientation: landscape) {
  .win--9e8e6 {
    transform: scale(0.9);
  }
}
.winningScreen--7aa2b {
  --winning-message-platform-size: calc(var(--size) * 3.24);
  pointer-events: none;
}
.winningScreen--7aa2b .result--91848 {
  position: relative;
  z-index: 1;
}
.winningScreen--7aa2b.small--b3276 {
  --winning-message-platform-size: calc(var(--size) * 2.7);
}
@media (orientation: landscape) {
  .winningScreen--7aa2b.small--b3276 {
    width: 100%;
  }
}
.inner--08409 {
  position: relative;
  transform: translateY(0);
  transition: transform 0.4s ease-in-out, opacity 0.4s;
  width: 100%;
}
.hidden--cea43 .inner--08409 {
  opacity: 0;
  transform: translateY(10%);
}
.container--727e8 {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.maxSizeFull--3c948 {
  max-height: 100%;
  max-width: 100%;
}
.useMediaContainer--c1a8b {
  max-width: 100vw;
}
@media (orientation: portrait) {
  .useMediaContainer--c1a8b {
    max-height: 100%;
  }
}
@media (orientation: landscape) {
  .useMediaContainer--c1a8b {
    max-height: 100vh;
  }
}
:root {
  --winning-message-platform-size: calc(var(--size) * 3.6);
}
.message--06dad {
  color: #fde464;
  font-size: calc(var(--root-size) * 1.6);
  font-weight: 400;
  line-height: calc(var(--root-size) * 1.74);
  position: relative;
  text-align: center;
  white-space: nowrap;
}
.message--06dad.large--b46ba {
  font-size: calc(var(--root-size) * 1.92);
  line-height: calc(var(--root-size) * 2.1);
}
.message--06dad.default--b625b {
  background-size: calc(var(--root-size) * 28.1) calc(var(--root-size) * 6.7);
  height: calc(var(--root-size) * 6.7);
  width: calc(var(--root-size) * 28.1);
}
.message--06dad.default--b625b.large--b46ba {
  --base-large-default-size: calc(var(--root-size) * 1.2);
  background-size: calc(var(--base-large-default-size) * 45.66)
    calc(var(--base-large-default-size) * 10.89);
  height: calc(var(--base-large-default-size) * 10.89);
  width: calc(var(--base-large-default-size) * 45.66);
}
.message--06dad.default--b625b.large--b46ba:before {
  height: var(--base-large-default-size);
}
.message--06dad.default--b625b:before {
  content: "";
  display: block;
  height: calc(var(--root-size) * 1);
  width: 100%;
}
.message--06dad.default--b625b {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAjIAAACGCAQAAABtAaiYAAACMUlEQVR4AaSMBxIEIQzDDP//MmzXZLy+fltCrIg0SX3/j9rU1G9VwcR/EJ+QmUHdFS4GHM9f3CeUO2Jb+a+7MBUcJv5gcQce2TeoOnc8BTX+PL0wslfwf5/lA75wWgpmXsyMG42uvMUyyfcu0eFZteRTBZc5eYM8zZ+x3d6g3NFxsi85GYtcsyXceVQcr7oz7L6yUwcDAAAADITmTz2K+xVECwFIBpAMIBkAyQCSASQDIBlAMoBkACQDSAaQDIBkAMkASAaQDCAZAMkAkgEkAyAZQDKAZAAkA0gGQDKAZADJAEgGkAwgGQDJAJIBJAMgGUAygGQAJANIBkAygGQAyQBIBpAMIBkAyQCSASQDIBlAMgCSASQDSAZAMoBkAMkASAaQDCAZAMkAkgEkAyAZQDIAkgEkA0gGQDKAZADJAEgGkAwgGQDJAJIBkAwgGUAyAJIBJANIBkAygGQAyQBIBpAMgGQAyQCSAZAMIBlAMgCSASQDSAZAMoBkAMkASAaQDIBkAMkAkgGQDCAZQDIAkgEkA0gGQDKAZAAkA0gGkAyAZADJAJIBkAwgGUAyAJIBJANIBkAygGQAJANIBpAMgGQAyQCSAXjp44EDIAzEMPX/f2YPS1Z6QOmuz2EMt7bNbWV61Y1J7Tw7R0V32XZ0zon8B6zOZWZacO65IpqrvtVO8myZcq5bq/nPNn/kNjj7ZuoaxK6pM2KyTGOl5oGaMWHOQrmzzzo7gWG/Z+M65bXDFrsK+Q7TQExvAAAAAElFTkSuQmCC")
    50% no-repeat;
}
.message--06dad.roulette--46a42 {
  font-size: calc(var(--size) * 1.6);
  font-weight: 500;
  line-height: 1.1;
  padding: 0;
}
.video-fullscreen .message--06dad.roulette--46a42 {
  font-size: calc(var(--size) * 1.6);
}
.message--06dad.roulette--46a42 .amount--1b7f9 {
  font-size: calc(var(--size) * 2);
  line-height: 1.7;
}
.message--06dad.uth--7eb90 {
  background-size: calc(var(--root-size) * 28.1) calc(var(--root-size) * 6.7);
  height: calc(var(--root-size) * 6.7);
  width: calc(var(--root-size) * 28.1);
}
.message--06dad.uth--7eb90.large--b46ba {
  --base-large-default-size: calc(var(--root-size) * 1.2);
  background-size: calc(var(--base-large-default-size) * 45.66)
    calc(var(--base-large-default-size) * 10.89);
  height: calc(var(--base-large-default-size) * 10.89);
  width: calc(var(--base-large-default-size) * 45.66);
}
.message--06dad.uth--7eb90.large--b46ba:before {
  height: var(--base-large-default-size);
}
.message--06dad.uth--7eb90:before {
  content: "";
  display: block;
  height: calc(var(--root-size) * 1);
  width: 100%;
}
.message--06dad.uth--7eb90 {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAjIAAACGCAQAAABtAaiYAAACMUlEQVR4AaSMBxIEIQzDDP//MmzXZLy+fltCrIg0SX3/j9rU1G9VwcR/EJ+QmUHdFS4GHM9f3CeUO2Jb+a+7MBUcJv5gcQce2TeoOnc8BTX+PL0wslfwf5/lA75wWgpmXsyMG42uvMUyyfcu0eFZteRTBZc5eYM8zZ+x3d6g3NFxsi85GYtcsyXceVQcr7oz7L6yUwcDAAAADITmTz2K+xVECwFIBpAMIBkAyQCSASQDIBlAMoBkACQDSAaQDIBkAMkASAaQDCAZAMkAkgEkAyAZQDKAZAAkA0gGQDKAZADJAEgGkAwgGQDJAJIBJAMgGUAygGQAJANIBkAygGQAyQBIBpAMIBkAyQCSASQDIBlAMgCSASQDSAZAMoBkAMkASAaQDCAZAMkAkgEkAyAZQDIAkgEkA0gGQDKAZADJAEgGkAwgGQDJAJIBkAwgGUAyAJIBJANIBkAygGQAyQBIBpAMgGQAyQCSAZAMIBlAMgCSASQDSAZAMoBkAMkASAaQDIBkAMkAkgGQDCAZQDIAkgEkA0gGQDKAZAAkA0gGkAyAZADJAJIBkAwgGUAyAJIBJANIBkAygGQAJANIBpAMgGQAyQCSAXjp44EDIAzEMPX/f2YPS1Z6QOmuz2EMt7bNbWV61Y1J7Tw7R0V32XZ0zon8B6zOZWZacO65IpqrvtVO8myZcq5bq/nPNn/kNjj7ZuoaxK6pM2KyTGOl5oGaMWHOQrmzzzo7gWG/Z+M65bXDFrsK+Q7TQExvAAAAAElFTkSuQmCC")
    50% no-repeat;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.message--06dad.rng--0386f {
  font-size: calc(var(--size) * 2);
  font-weight: 400;
  line-height: 1.1;
}
.message--06dad.rng--0386f .amount--1b7f9 {
  font-size: calc(var(--size) * 2.5);
  line-height: 1.7;
}
.message--06dad.none--c3bd3 {
  background-size: calc(var(--root-size) * 28.1) calc(var(--root-size) * 6.7);
  height: calc(var(--root-size) * 6.7);
  width: calc(var(--root-size) * 28.1);
}
.message--06dad.none--c3bd3.large--b46ba {
  --base-large-default-size: calc(var(--root-size) * 1.2);
  background-size: calc(var(--base-large-default-size) * 45.66)
    calc(var(--base-large-default-size) * 10.89);
  height: calc(var(--base-large-default-size) * 10.89);
  width: calc(var(--base-large-default-size) * 45.66);
}
.message--06dad.none--c3bd3.large--b46ba:before {
  height: var(--base-large-default-size);
}
.message--06dad.none--c3bd3:before {
  content: "";
  display: block;
  height: calc(var(--root-size) * 1);
  width: 100%;
}
.message--06dad.none--c3bd3 {
  background: none;
  width: auto;
}
.video-fullscreen .message--06dad {
  font-size: calc(var(--root-size) * 1.8);
}
@media screen and (max-height: 370px) {
  .message--06dad.desktop--5b460,
  .message--06dad.diceSmall--de105 {
    font-size: calc(var(--size) * 2.4);
  }
}
@media screen and (max-height: 300px) {
  .message--06dad.desktop--5b460,
  .message--06dad.diceSmall--de105 {
    font-size: calc(var(--size) * 1.9);
  }
}
.message--06dad.desktop--5b460 {
  font-size: var(--winning-message-platform-size);
  font-weight: 400;
  line-height: calc(var(--winning-message-platform-size) * 1.5);
  padding-top: calc(var(--winning-message-platform-size) * 0.5);
}
.message--06dad.desktop--5b460 .amount--1b7f9 {
  font-size: var(--winning-message-platform-size);
  line-height: var(--winning-message-platform-size);
}
.message--06dad.large--b46ba {
  font-size: calc(var(--root-size) * 3.12);
  font-weight: 500;
  padding-top: calc(var(--root-size) * 3.6);
}
.message--06dad.small--a5d01 {
  font-size: calc(var(--root-size) * 1.92);
  margin-bottom: calc(var(--root-size) * -1.2);
  padding: calc(var(--root-size) * 1.2) 0 0;
}
.message--06dad.small--a5d01 .amount--1b7f9 {
  font-size: calc(var(--root-size) * 1.92);
  line-height: calc(var(--root-size) * 3.36);
}
.message--06dad.mobile--86af1 {
  font-size: calc(var(--size) * 0.6);
  padding-top: calc(var(--size) * 0.6);
}
.amount--1b7f9 {
  color: #fff;
  font-size: calc(var(--root-size) * 2);
  line-height: calc(var(--root-size) * 3.4);
}
.large--b46ba .amount--1b7f9 {
  font-size: calc(var(--root-size) * 3.72);
  line-height: calc(var(--root-size) * 4.8);
  padding-top: calc(var(--root-size) * 0.96);
}
.mobile--86af1 .amount--1b7f9 {
  font-size: calc(var(--size) * 0.6);
  line-height: calc(var(--size) * 1);
}
.wrapper--9d3db {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.backgroundGradient--27535 {
  background: linear-gradient(270deg, #0000, #000000e6 50%, #0000);
}
.desktop--4f145,
.mobile--ed6e8 {
  text-align: center;
}
.desktop--4f145 {
  padding: calc(var(--root-size) * 2.4) 0;
}
.desktop--4f145 .top-element--cb5de {
  padding-bottom: calc(var(--root-size) * 1.2);
  padding-top: calc(var(--root-size) * 1.2);
}
.mobile--ed6e8 {
  padding: calc(var(--root-size) * 0.5) 0;
}
.mobile--ed6e8 .top-element--cb5de {
  padding-bottom: calc(var(--root-size) * 1);
  padding-top: calc(var(--root-size) * 1);
}
.top-element--cb5de.compactTop--dc6d9 {
  padding: 0;
}
.WinningDice--97a26 {
  --size: var(--winningSize);
  padding-bottom: calc(var(--size) * 2);
}
.WinningDice--97a26.bigPadding--6a0f6 {
  padding-bottom: calc(var(--size) * 2.5);
  padding-top: calc(var(--size) * 0.5);
}
.WinningDice--97a26.didWin--6ab43 {
  padding-bottom: 0;
  padding-top: 0;
}
@media screen and (max-height: 370px) {
  .WinningDice--97a26.didWin--6ab43 {
    padding-bottom: calc(var(--size) * 0.9);
  }
  .WinningDice--97a26 {
    --size: calc(var(--winningSize) * 0.8);
  }
}
.total--5ba11 {
  display: flex;
  flex-direction: row;
  height: calc(var(--size) * 7);
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: calc(var(--size) * 14);
}
.total--5ba11 svg {
  height: 100%;
  pointer-events: none;
  width: 100%;
}
.dice--0a12f {
  left: 0;
  margin-top: calc(var(--size) * -1.68);
  position: absolute;
  right: 0;
}
.dice--0a12f svg {
  height: calc(var(--size) * 2.8);
  width: calc(var(--size) * 2.8);
}
.dice--0a12f svg:nth-child(-n + 2) {
  margin-right: calc(var(--size) * 0.84);
}
.dice--0a12f svg:first-child {
  transform: rotate(-15deg) translateY(calc(var(--size) * 0.56));
}
.dice--0a12f svg:nth-child(3) {
  transform: rotate(15deg) translateY(calc(var(--size) * 0.56));
}
.winningContainer--c6de0 {
  --winningSize: calc(var(--root-size) * 0.9);
  left: 50%;
  position: absolute;
}
.winningContainer--c6de0.Phone--563b8 {
  top: calc(var(--size) * 3.36);
  transform: translate(-50%) scale(0.75);
  width: 100%;
}
@media (orientation: portrait) {
  .winningContainer--c6de0.Phone--563b8 {
    bottom: 105%;
    top: auto;
  }
}
.winningContainer--c6de0.Tablet--d6897 {
  bottom: 20%;
  transform: translate(-50%, -50%);
  width: 34%;
}
.winningContainer--c6de0.Tablet--d6897.win--f32ca {
  bottom: 15%;
}
.winningContainer--c6de0.Desktop--ebce9 {
  --winningSize: calc(var(--root-size) * 1.08);
  bottom: calc(var(--size) * 28.8);
  transform: translateX(-50%);
  width: 30%;
}
.winningContainer--c6de0.Desktop--ebce9.classicView--7c291 {
  bottom: 0;
  width: 75%;
}
.lightningDiceGridWrapper--3b199 {
  height: calc(var(--size) * 33.6);
  padding: calc(var(--size) * 3) calc(var(--size) * 32.4);
}
.classicGridContainer--7a290 {
  height: 100%;
  position: relative;
}
.footerGradient--1f831 {
  background: linear-gradient(180deg, #0000, #000000e6 54%, #000);
  bottom: 0;
  box-sizing: border-box;
  height: calc(var(--root-size) * 48.6);
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  transition: height 1s;
}
.footerGradient--1f831.collapsed--1da29 {
  height: calc(var(--root-size) * 32.4);
}
.statistics--03ef3 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 0;
  width: 100%;
}
@media screen and (min-height: 320px) and (min-aspect-ratio: 19/10) and (orientation: landscape) {
  .statistics--03ef3 {
    margin-top: calc(var(--size) * 0.75);
  }
}
.statistics--03ef3 .recentNumbers--6a682 {
  --size: calc(var(--root-size) * 1);
  margin-left: 0;
  width: calc(var(--size) * 25.2);
}
.statistics--03ef3 .resultDistribution--cccaa {
  --size: calc(var(--root-size) * 1.2);
  height: auto;
  margin-top: calc(var(--size) * 1.5);
  width: calc(var(--size) * 20);
}
.videoGradient--b34bf {
  --gradientColor: 0, 0, 0;
  --positionY: 0;
  --height: calc(var(--root-size) * 7);
  background: linear-gradient(
    to bottom,
    #0000 0,
    rgb(var(--gradientColor)) 50%,
    rgb(var(--gradientColor)) 75%,
    #0000 100%
  );
  height: var(--height);
  pointer-events: none;
  position: absolute;
  top: calc(var(--height) * -0.5);
  transform: translateY(var(--positionY));
  transition: none;
  width: 100%;
}
.videoGradient--b34bf.animated--8f2af {
  transition: transform 0.75s ease-in-out;
}
.tablet--fca30 {
  background: linear-gradient(0deg, #000 10%, #0000 50%);
  bottom: calc(var(--root-size) * -8);
  height: 100%;
  position: absolute;
  width: 100%;
}
.VerticalGrid--1af56 {
  align-items: flex-end;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  left: 0;
  padding-bottom: calc(var(--size) * 9.4);
  padding-left: calc(var(--size) * 1);
  padding-right: calc(var(--size) * 1);
  position: absolute;
  right: 0;
}
.fit--d5eab {
  position: relative;
  transform-origin: center bottom;
  transition: transform 0.75s ease-in-out;
  width: 100%;
}
.fit--d5eab.collapsed--4c1f7 {
  transform: translateY(calc(var(--size) * 9.4)) scale(0.8);
}
.disabled--c3e36 .border--999b4 {
  fill: #4d4d4db3;
  stroke: #ffffff4d;
  stroke-width: 1;
}
.betOnAllPortraitBase--a9980 {
  line-height: 0;
  position: relative;
}
.content--fe110 {
  bottom: 0;
  left: 5%;
  position: absolute;
  right: 5%;
  top: 0;
}
.content--fe110 > svg {
  height: 100%;
  width: 100%;
}
.BetOnAllWrapper--a3592 {
  margin-top: calc(var(--root-size) * 0.5);
  pointer-events: auto;
  position: absolute;
  top: 100%;
  width: 100%;
}
.BetOnAll--bc6d3 {
  border-radius: calc(var(--root-size) * 3);
  cursor: pointer;
  height: 100%;
  transform-origin: center;
  transition: transform 0.1s, opacity 0.3s;
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
  will-change: opacity, transform;
}
.BetOnAll--bc6d3 > * {
  pointer-events: none;
}
.BetOnAll--bc6d3:active {
  transform: scale(0.94);
}
.BetOnAll--bc6d3.disabled--93d1a:active {
  transform: none;
}
.BetOnAll--bc6d3.hidden--05365 {
  opacity: 0;
  pointer-events: none;
}
.RecentResults--2a7d7 {
  display: flex;
  justify-content: space-around;
  opacity: 1;
  transition: opacity 0.1s linear;
  z-index: 5;
}
@media (orientation: landscape) {
  .RecentResults--2a7d7 {
    justify-content: flex-end;
  }
}
.recentResultsContainer--24fc9 {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
}
.gridArea--c7e90 {
  margin: 0 calc(var(--root-size) * 5.8);
  position: relative;
}
.gridArea--02174,
.gridArea--c7e90 {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
}
.recentResultsContainer--1c0a4 {
  font-size: calc(var(--rem-migration-size) * 1.25);
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
}
.gridArea--2c752 {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  margin: 0 calc(var(--root-size) * 5.8);
  position: relative;
}
.GameOverlayContainer--686cd {
  box-sizing: border-box;
  height: 100%;
  padding-top: 0;
  position: relative;
}
.recentResultContainer--d92ff {
  position: absolute;
  right: 0;
  top: 0;
}
@media (orientation: landscape) {
  .recentResultContainer--d92ff {
    width: 50%;
  }
}
.gridArea--fe238 {
  box-sizing: border-box;
  height: 100%;
  position: relative;
}
@media (orientation: landscape) {
  .gridArea--fe238 {
    margin: 0 calc(var(--root-size) * 5.8);
  }
}
:root {
  --extendedDangerZone: clamp(
    calc(var(--root-size) * 5.6),
    90px,
    calc(var(--root-size) * 9)
  );
}
@supports not (
  padding-bottom:
    clamp(calc(var(--root-size) * 5.6), 90px, calc(var(--root-size) * 9))
) {
  :root {
    --extendedDangerZone: 90px;
  }
}
.HorizontalGrid--8c172 {
  bottom: calc(var(--root-size) * 0.5);
  left: 0;
  margin-bottom: -1.6%;
  position: absolute;
  right: 0;
  top: 0;
  transition: transform 1s ease-in-out;
}
.HorizontalGrid--8c172.collapsed--a2332 {
  transform: translateY(11%) scale(0.8);
}
.HorizontalGrid--8c172.tablet--90ba8 {
  margin-left: calc(var(--root-size) * 8);
  margin-right: calc(var(--root-size) * 8);
  top: auto;
}
.video-overlay-gradient--966bf {
  display: none;
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}
@media (orientation: landscape) {
  .video-overlay-gradient--966bf {
    display: block;
  }
}
/*# sourceMappingURL=https://sourcemaps.egcdn.com/frontend/evo/mini/styles/lightningd.76a9e5a4.css.map*/
