@tailwind base;
@tailwind components;
@tailwind utilities;

.helpChapter--73696 {
  padding: 5px 0px;
}

/*! Circular Progress Bar Animation Start  */
.circular-progress {
  --size: 250px;
  --half-size: calc(var(--size) / 2);
  --stroke-width: 30px;
  --radius: calc((var(--size) - var(--stroke-width)) / 2);
  --circumference: calc(var(--radius) * pi * 2);
  --dash: calc((var(--progress) * var(--circumference)) / 100);
  /* animation: progress-animation 10s linear 0s 1 forwards; */
}

*,
::before,
::after {
  border-style: none;
}

.circular-progress circle {
  cx: var(--half-size);
  cy: var(--half-size);
  r: var(--radius);
  stroke-width: var(--stroke-width);
  fill: none;
  stroke-linecap: round;
}

.circular-progress circle.bg {
  /* stroke: #32d74b; */
}

.circular-progress circle.fg {
  transform: rotate(90deg) scale(-1, 1);
  transform-origin: var(--half-size) var(--half-size);
  stroke-dasharray: var(--dash) calc(var(--circumference) - var(--dash));
  transition: stroke-dasharray 0.3s linear 0s;
  stroke-width: 35px;
  /* stroke: black; */
}

@property --progress {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}

@keyframes progress-animation {
  from {
    --progress: 0;
  }
  to {
    --progress: 100;
  }
}

/*! Circular Progress Bar Animation End  */
